body {
    background-image: url("../../58901929-grey-wall-background-abstract-light-grunge-texture.jpg");
    background-repeat: repeat;
}

#navlinks {
    list-style-type: none;
    display: inline;
    padding-inline-start: 800px;
    text-align: center;
    float: right;

       
}

.container .h1 .top{
    flex-direction: row;
    align-content: top;
    background-color: white;
    padding: 0x;
    height: 50px;
    position: top;
    
}

.container {
    width: 100%;
    padding: 5px;
    left: 0;
    right: 0;
    top: -6px;
    margin: -5px;
}


.top {
    display: inline;
    position: top;
    margin-right: 15px;
    line-height: 4;
    
}

section {
    height:500px;
    width: 960px;
    align-content: center;
    background-color: white;
    float: center;
    padding: 30px;
    margin: 40px;
    letter-spacing: 2px;
    
    
}

footer {
    background-color: #666666;
    height: 40px;
    text-align: center;
    left: 0px;
    /* right:0px; */
    border-top: 8px solid #4aaaa5;
    position: fixed;
    color: white;
    padding: 0;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

div {
    /*width: 100%;
    height: 200px;*/
    background-color: white;
    margin: 0px;
    top: 0;
    width: 100%;
   
   
}

.overflow {
    overflow: auto;
}


h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    color: white;
    background-color: #4aaaa5;
    font-family: 'Oswald', sans-serif;
    height: 100px;
    width: 200px;
    text-align: center;
    border-bottom: #cccccc;
    padding: 0;
    margin: 0;
    float: left;
    line-height: 3;

}


.piccontainer{
    height: 250px;
    width: 250px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px;
    

}


.image {
    width: 250px;
    height: 250px;
    
}

hr {
    content: 2px solid #cccccc;
}

.textwrap {
    float: left;
    margin: 15px;
    transform: rotate(180deg);
    height: 300px;
    width: 400px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.contact {
    width: 960px;
    height: 500px;
    padding: 20px;
    margin: 100px;
}

.port {
   
    width: 960px;
    padding: 20px;
    margin: 100px;
    
}

.portfoliopictures {
    text-align: center;

}

.head {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.infolink {
    float: left;
}

.button {
    background-color: #4aaaa5;
    color: white;
    height: 30px;
    width: 70px;
    padding: 0;
    border: none;
}

.textblock {
    background-color: #4aaaa5;
    position: absolute;    
    text-align: center;    
    width: 100%;
    bottom: 20px;
    color: white;
    line-height: 40px;
    
 }

 /*.textblock2 {
    background-color: #4aaaa5;
    position: absolute;    
    height: 40px;
    text-align: center;    
    width: 200px;
    align-content: bottom;
    margin: auto;
    left: 364px;
    bottom: 60px;
    color: white;
    
 }

 .textblock3 {
    background-color: #4aaaa5;
    position: absolute;    
    height: 40px;
    text-align: center;    
    width: 200px;
    align-content: bottom;
    margin: auto;
    left: 588px;
    bottom: 60px;
    color: white;
    

 }

 .textblock4 {
    background-color: #4aaaa5;
    position: absolute;    
    height: 40px;
    text-align: center;    
    width: 200px;
    align-content: bottom;
    margin: auto;
    left: 812px;
    bottom: 60px;
    color: white;   
 }
*/


 .middle {
     margin: 120px;
     padding: 30px;
 }

